# Node.js dependencies
node_modules/

# Environment variables
.env

# Docker-related files
docker-compose.override.yml

# Logs and debug files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build and cache files
dist/
build/
.cache/

# IDE-specific files
.vscode/
.idea/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.swp
